<!-- //=============== 品牌管理开始=============== -->
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/login.css">
<fieldset class="layui-elem-field">
    <legend>品牌管理</legend>
    <div class="layui-field-box">
        <form method="GET" action="javascript: ;">
            <input class="add" type="submit" value="新增品牌">
        </form>
        <table class="layui-table" border=" 1px solid #E2E2E2;">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>品牌logo</th>
                    <th>品牌名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% if(brandList.length){ %>
                <% for (var i = 0; i < brandList.length; i++) { %>
                <tr>
                    <td>
                        <%= brandList[i]._id %>
                    </td>
                    <td>
                        <img src="<%= brandList[i].src %>">
                    </td>
                    <td>
                        <%= brandList[i].brandname %>
                    </td>
                    <td>
                        <a class="updata">修改
                            <!-- //=============== 修改界面=============== -->
                            <div class="userupdate loginBox">
                                <h3>修改界面</h3>
                                <div class="formDiv">
                                    <form action="/brand/updata" method="post" enctype="multipart/form-data">
                                        <input value="<%= brandList[i]._id %>" name="_id" hidden />
                                        <label class="user">
                                            <input name="brandname" type="text" placeholder="请输入品牌名称">
                                            <i class="iconfont"></i>
                                        </label>
                                        <input type="file" name="updatabrand">
                                        <input name="修改" type="submit" class="submit" value="修改">
                                    </form>
                                </div>
                            </div>
                            <!-- //=============== 修改结束=============== -->
                        </a>
                        <a href="/brand/delete?id=<%= brandList[i]._id %>">删除</a>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
        <ul>
            <% if(totalPage != ''){ %>
            <% for (var i = 0; i < totalPage; i++) { %>
            <li>
                <a href="/userManger.html?page=<%= i+1 %>">
                    <%= i+1 %>页</a>
            </li>
            <% } %>
        
            <% }else{ %>
            <a href="/userManager.html">显示全部</a>
            <% } %>
        
        </ul>
    </div>
    <!-- //=============== 品牌添加开始=============== -->
    <div class="addupdate loginBox">
        <h3>新增界面</h3>
        <div class="formDiv">
            <form action="/brand/add" method="post" enctype="multipart/form-data">
                <input value="<%= brandList[i]._id %>" name="_id" hidden />
                <label class="user">
                    <input name="brandname" type="text" placeholder="请输入品牌名称">
                    <i class="iconfont"></i>
                </label>
                <input type="file" name="brand">
                <input name="修改" type="submit" class="submit" value="提交">
            </form>
        </div>
    </div>
    <!-- //=============== 这是品牌添加结束=============== -->
</fieldset>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    document.onclick = function (e) {
        var e = e || event;
        var target = e.target || e.srcElement;
        if (target.className == "updata") {
            if ($(target).find('.userupdate')) {
                $(target).find('.userupdate').show(1000);
                } else {
                alert("aaa");
            }
        };
        if (target.className == "add") {
            $('.addupdate').show(1000);
        };
  };
</script>

<!-- //=============== =============== -->
